#menu{
    border: 2px;
    border-color: black;
    border-style: dotted;
    height: 100px;
    background-color: blueviolet;
}
#logo{
    float: left;
}
#enlaces{
    float: right;
    margin-top: 40px;
    margin-right: 40px;
}
#cr7{
    width: 90px;
    height: 90px;
    padding: 5px;
}
a{
    border: 2px;
    border-color: black;
    border-style: solid;
    margin-left: 10px;
}